## Deliverable 3. Create a Travel Itinerary Map.

In [38]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [39]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Gorontalo,ID,79.14,overcast clouds,0.5412,123.0595,Maqna Hotel by Prasanthi
1,5,Butaritari,KI,81.28,light rain,3.0707,172.7902,Isles Sunset Lodge
2,9,Vaini,TO,76.62,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,10,Celestun,MX,77.14,overcast clouds,20.8667,-90.4000,Posada Lilia
4,11,Atuona,PF,77.85,few clouds,-9.8000,-139.0333,Villa Enata

In [40]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [48]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "The Woodlands"]
vacation_end = vacation_df.loc[vacation_df["City"] == "The Woodlands"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Midland"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Sunrise Manor"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Grand Island"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
122,388,The Woodlands,US,83.46,clear sky,30.158,-95.4894,"The Woodlands Resort, Curio Collection by Hilton"

In [50]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [61]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
cities_route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="WALKING")
fig.add_layer(cities_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,388,The Woodlands,US,83.46,clear sky,30.1580,-95.4894,"The Woodlands Resort, Curio Collection by Hilton"
1,614,Midland,US,81.48,clear sky,31.9974,-102.0779,DoubleTree by Hilton Hotel Midland Plaza
2,270,Sunrise Manor,US,77.09,clear sky,36.2111,-115.0731,Comfort Inn & Suites Las Vegas - Nellis
3,134,Grand Island,US,80.55,clear sky,40.9250,-98.3420,Fairfield Inn & Suites by Marriott Grand Island

In [54]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))